<body>
  <div>
    <div class="sc-bdfCkl kbVaPZ">
      <div class="sc-gsTChe iFEJlw">
        <div class="sc-pGawl cxzQAg">
          <img alt="" class="sc-fubCSR iYBwfo" src="http://test/1" />
          <div class="sc-gKsdJj ibHIzE">
            <img alt="loader" class="sc-jSgtCu gHhGXY" />
          </div>
        </div>
      </div>
      <div class="sc-gsTChe iFEJlw">
        <div class="sc-pGawl cxzQAg">
          <img alt="" class="sc-fubCSR iYBwfo" src="http://test/3" />
          <div class="sc-gKsdJj ibHIzE">
            <img alt="loader" class="sc-jSgtCu gHhGXY" />
          </div>
        </div>
      </div>
      <div class="sc-gsTChe iFEJlw">
        <div class="sc-pGawl cxzQAg">
          <img alt="" class="sc-fubCSR iYBwfo" src="http://test/2" />
          <div class="sc-gKsdJj ibHIzE">
            <img alt="loader" class="sc-jSgtCu gHhGXY" />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
